<div>
    
    
    <form (ngSubmit)="onSubmit(forgetPasswordForm.value)" #forgetPasswordForm="ngForm">
            <h2 class="w3-text-blue w3-panel">Please Enter the following details And Submit to fetch Security Question</h2>
            <table style="border-collapse: collapse;border-spacing: 10px;">
                <tr>
                    
								<td style="padding-bottom: 10%; padding-left: 2%;margin-left:2%;"><i
									class="fa fa-user  w3-xxlarge w3-text-blue"></i></td>
								<td style="padding-bottom: 10%; padding-left: 2%;margin-left:2%;"><input
									placeholder="User Name" [(ngModel)]="userdetails.username" name="username" required
									style="width: 100%; border-radius: 25px;" class="w3-input"
                                    type="text" #username="ngModel"/>
                                <div [hidden]="username.valid || username.pristine"   class="showerror">
										username required
								</div> 
                                </td>	
                </tr>
            </table>
            <input type="submit" [disabled]="forgetPasswordForm.invalid" value="Submit" name="submit" class="w3-button w3-blue" />
        </form>
        <div *ngIf="secQuestionFlag=='no question found'">
            <h1> No Security Question Found </h1>
        </div>
        <div *ngIf="secQuestionFlag=='question found'">
            <h2 class="w3-text-blue w3-panel"> Answer The Following Security Question for Password reset </h2>
            <table>
                <tr>
                    <td  style="padding-bottom: 10%; padding-left: 2%;"><b>Question: </b></td>
                    <td  style="padding-bottom: 10%; padding-left: 2%;"><b>{{regmodel.question}}</b></td>
                </tr>
                <tr>
                    <td  style="padding-bottom: 10%; padding-left: 2%;"><b>Answer: </b></td>
                    <td  style="padding-bottom: 10%; padding-left: 2%;"><input class="w3-input" type="text" id="originalAnswer" name="originalAnswer"/></td>
                </tr>
                <tr>
                    <td><input type="hidden" value="{{regmodel.answer}}" id="hiddenAnswer" name="hiddenAnswer"></td>
                    <td  style="padding-bottom: 10%; padding-left: 2%;"><input type="button" (click)="checkAnswer()" value="Answer" name="submit" class="w3-button w3-blue"/></td>
                </tr>
            </table>
        </div>
<div *ngIf="correctAnswer==true">
    <h2 class="w3-text-blue w3-panel">Enter Your New Password</h2>
    <form #changePasswordForm="ngForm" (ngSubmit)="changePasswordFormSubmit(changePasswordForm.value)">
        <table>
            <tr>
                <td style="padding-bottom: 10%; padding-left: 2%;"><input type="hidden" #username=ngModel value="{{regmodel.username}}" name="username" [(ngModel)]="newregmodel.username"/></td>
                <td style="padding-bottom: 10%; padding-left: 2%;"><input type="text" #passwd=ngModel value="{{newregmodel.passwd}}" name="passwd" [(ngModel)]="newregmodel.passwd"/></td>
                <td style="padding-bottom: 10%; padding-left: 2%;"> <input type="submit" [disabled]="changePasswordForm.invalid" value="Submit" name="submit" class="w3-button w3-blue" /></td>
            </tr>
        </table>
    </form>
</div>
</div>